# Temporary files #
###################
*~

# Compiled Binaries and Bytecode #
##################################
*.o
*.pyc
bayestar

# CMake temporary files #
#########################
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Makefile
CMakeFiles

# Build directory #
###################
build

# KDevelop Files #
##################
*.kdev*
.kdev*

# Data Files #
##############
*.h5
*.hdf5
*.dat
*.fits
*.cfg

# Text and log files #
######################
*.txt
*.log

# Graphics #
############
*.png

# Archives #
############
*.tar
*.tar.gz

# Miscellaneous #
#################
callgrind.out.*
src/bayestar_config.h
*.bak
*.swp
*.save
*.save.*
